#Introduction{
  background-color: rgb(230, 239, 239);
  height: 100vh;
}
#Introduction h3{
  text-align: center;
  color:white;
  font-size: 30px;
  padding:10px;
}
#Introduction h3 span{
  color:rgb(227, 57, 100);
}
.mainIntroduction{
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-items:center;
}
.mainIntroductionLeft{
  width: 400px;
  height: 600px;
  background-color: rgb(239, 210, 215);
}
.mainIntroductionLeft h4{
  color: white;
  font-size: 18px;
  padding-top:20px;
  padding-bottom: 5px;
  text-align: center;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-bottom:2px solid rgb(76, 154, 218);
}
.mainIntroductionLeft h4 span{
  color:rgb(227, 57, 100);
}
.mainIntroductionMiddle{
  width: 400px;
  height: 600px;
  background-color: rgb(224, 186, 192);
}
.mainIntroductionMiddle h4{
  color: white;
  font-size: 18px;
  padding-top:15px;
  padding-bottom: 5px;
  text-align: center;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-bottom:2px solid rgb(76, 154, 218);
}
.mainIntroductionMiddle h4 span{
  color:rgb(227, 57, 100);
}
.mainIntroductionRight{
  width: 550px;
  height: 650px;
  background-color: rgb(180, 160, 163);
}
.mainIntroductionRight h4{
  color: white;
  font-size: 18px;
  padding-top:15px;
  padding-bottom: 5px;
  text-align: center;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-bottom:2px solid rgb(76, 154, 218);
}
.mainIntroductionRight h4 span{
  color:rgb(227, 57, 100);
}
.mgnIntroduction{
  box-shadow: 0px 20px 80px rgb(99, 39, 49);
  border-radius: 20px;
}
.mgnIntroduction:hover{
  box-shadow: 2px 20px 80px rgb(178, 14, 41);
  transform: translateY(-30px);
  transition: transform 0.5s;
}
table{
  margin-left: 10px;
  font-size: 13px;
}
.pipara{
  margin:20px 0px 4px 10px;
  color:white;
}
.pipara span{
  color:rgb(52, 109, 180);
}

.sdpara{
  margin:15px 0px 4px 10px;
  color:white;
}
.sdpara span{
  color:rgb(52, 109, 180);
}