#Skills{
  background-color: rgb(230, 239, 239);
  height: 100vh;
}
#Skills h3{
  text-align: center;
  color:white;
  font-size: 30px;
  padding:20px;
}
#Skills h3 span{
  color:rgb(227, 57, 100);
}
.mainSkills{
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-items:center;
}
.mainSkillsLeft{
  width: 550px;
  height: 600px;
  background-color: rgb(182, 171, 172);
}
.mainSkillsLeft h4{
  color: white;
  font-size: 18px;
  padding-top:20px;
  padding-bottom: 5px;
  text-align: center;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-bottom:2px solid rgb(76, 154, 218);
}
.mainSkillsLeft h4 span{
  color:rgb(227, 57, 100);
}
.mainSkillsRight{
  width: 550px;
  height: 600px;
  background-color: rgb(180, 160, 163);
  background-color: rgb(182, 171, 172);
}
.mainSkillsRight h4{
  color: white;
  font-size: 18px;
  padding-top:15px;
  padding-bottom: 5px;
  text-align: center;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-bottom:2px solid rgb(76, 154, 218);
}
.mainSkillsRight h4 span{
  color:rgb(227, 57, 100);
}
.mgnSkills{
box-shadow: 0px 20px 80px rgb(99, 39, 49);
  border-radius: 20px;
}
.mgnSkills:hover{
  box-shadow: 2px 20px 80px rgb(178, 14, 41);
  transform: translateY(-30px);
  transition: transform 0.5s;
}
.pspara{
margin:12px 0px 4px 10px;
  color:white;
} 
.pspara span{
color:rgb(52, 109, 180);
}
.pspara1{
font-size: 14px;
}
.progress{
  display: inline-block;
  width:70%;
  height: 8px;
  border: 2px solid rgb(90, 88, 88);
}
.prog{
  display: flex;
  align-items: center;
}
 .prog1{
  margin-left: 90px;
}
.prog2{
margin-left: 100px;
}
.prog3{
  margin-left: 65px;
}
.prog4{
  margin-left: 85px;
}
.prog5{
  margin-left: 80px;
}
.prog6{
  margin-left: 65px;
}
.prog7{
  margin-left: 80px;
} 
.prog8{
  margin-left: 95px;
}
.prog9{
  margin-left: 100px;
}
.prog10{
  margin-left: 75px;
}
.prog11{
  margin-left: 40px;
}
.prog12{
  margin-left: 33px;
}
.prog13{
  margin-left: 0px;
}
.prog14{
  margin-left: 80px;
}
.prog15{
  margin-left: 60px;
} 
.prog16{
  margin-left: 65px;
}
 
.inner{
  display: block;
  width: 100%;
  height: 7px;
  border-radius: 20px;
  background-color: rgb(40, 156, 73);
  animation: progressAnimation 1s linear 1;
}
@keyframes progressAnimation {
  from{
    width:0px;
  }
  to{
    width: 100%;
  }
}

.innerless{
  display: block;
  width: 30%;
  height: 7px;
  border-radius: 20px;
  background-color: rgb(218, 113, 122);
  animation: progressAnimationLess 1s linear 1;
}
@keyframes progressAnimationLess {
  from{
    width:0px;
  }
  to{
    width: 30%;
  }
}

.innerbigger{
  display: block;
  width: 60%;
  height: 7px;
  border-radius: 20px;
  background-color: rgb(69, 155, 94);
  animation: progressAnimationBigger 1s linear 1;
}
@keyframes progressAnimationBigger {
  from{
    width:0px;
  }
  to{
    width: 60%;
  }
}

.innerbig{
  display: block;
  width: 80%;
  height: 7px;
  border-radius: 20px;
  background-color: rgb(97, 181, 181);
  animation: progressAnimationBig 1s linear 1;
}
@keyframes progressAnimationBig {
  from{
    width:0px;
  }
  to{
    width: 80%;
  }
}